/*CSS jutut*/

/* hyvä väri talteen: vaalean lila #d5c4ee */

/* Taustan väri ja responsiivisuus eri näyttökooille */
body {
    background-color: #ffe7f1;
    background-image: url("../assets/postit.jpg"); /* Lisätty taustakuva, joka toistuu*/
    background-repeat: repeat;
    background-size: 500px;
    color: #4A4A4A;
    display:inline-block;
    justify-content:flex-start;  
}

/* Otsikoiden / tekstin värit, varjostus, alleviivaus */
h1 {
    color: #835dc0;
    text-shadow: 1px 1px 25px rgba(0,0,0,0.5);
    text-decoration: underline;
}

h4 {
    color: #9466df;
    text-shadow: 1px 1px 25px rgba(0,0,0,0.5);
    text-decoration: underline;
}

h5 {
    color: #9466df;
    text-shadow: 1px 1px 50px rgba(0,0,0,0.5);
}

/* Luotu parit containerit ympäröimään formia ja tablea, värit yms. niihin*/
.container {
    background-color: #ffcbc9;
    border: 1px solid;
    border-color:#d3bff1;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.container2 {
    background-color: #feffd0;
    border: 1px solid;
    border-color:#ff9a96;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    border-width: 2px;
    padding:20px;
}

.container3 {
    background-color: #ffcbc9;
    border: 1px solid;
    border-color:#d3bff1;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

/* Eri osoiden värien ja reunojen muotoilua (lomakkeen, nappien, tekstiosioiden)  */
#mainTehtava {
    color:#65b300;
    background-color:  rgb(237, 235, 238);
    padding: 8px;
    border-radius: 6px;
    border-width: 1px;
    border-color: #8760c5;
}


/* ChatGPT auttoi saamaan formin reunojen värin muutettua mustasta lilaksi, kun kenttä on aktiivisena*/
#mainTehtava:focus {
    border-color: 8760c5;
    border-width: 2.5px;
    outline: none;
}

#tehtava {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    background-color: rgb(197, 223, 231);
    border: 1px solid rgb(255, 102, 0);
}

#lisays {
    color:#f86d68;
    background-color:  rgb(237, 235, 238);
    padding: 8px;
    border-radius: 6px;
    border-color: #8760c5;
}

#lisays:focus {
    border-color: #65b300;
    border-width: 2.5px;
    outline: none;
}

#uusiNappi {
    color:#251e1e;
    background-color: #c0b1da;
    border-color:#8760c5;
    padding: 10px;
    border-radius: 80px;
}

#lisaaNappi {
    color:#251e1e;
    background-color: #d8ffa4;
    border-color:#acf34e;
    padding: 10px 15px;
    border-radius: 80px;
}

#poistaNappi {
    color:#251e1e;
    background-color: #f86d68;
    border-color: #ffa7a4;
    padding: 10px 15px;
    border-radius: 80px;
}

#tallennaLista {
    color:#251e1e;
    background-color: #c0b1da;
    border-color: #8760c5;
    padding: 10px 15px;
    border-radius: 80px;
}

#lista {
    color:#f86d68;
}

.container2 table {
    border-collapse: collapse;
    background-color: #EAF6FF;
    margin-bottom: 10px;
}

td {
    border: 2px solid #65b300;
    width: 15px;
    padding: 10px;
    color:#f86d68;
}

th {
    border: 2px solid #65b300;
    padding: 10px;
    color:#8760c5;
    font-size: bold;
}